.home {
  display:flex;
  flex-direction: column;
  margin-left: 60px;
  width: 1000px;
}

.pet-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3.5px solid #B33E86;
  padding: 20px;
  height: 140px;
}

.pet-profile img {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 50%;
}

.info2{
  display: flex;
  align-items: center;
}

.info {
  margin-left: 30px;
}

.info h4 {
  font-weight: bold;
  white-space: nowrap;
}

.info p {
  margin-top: 12px;
  font-size: 19px;
  white-space: nowrap;
}

.history p {
  font-size: 20px;
  font-weight: bold;
}

.pet-profile button.edit-profile-button {
  padding: 15px 30px;
  background-color: #B33E86;
  color: #FFFFFF;
  border: 2px solid #B33E86;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

.history{
  margin-top: 40px;
}

